<h2 mat-dialog-title>Author details</h2>
<mat-dialog-content>
  <figure>
    <img src="/assets/img/author.jpg" alt="author" />
    <figcaption>Fabian Fetter</figcaption>
  </figure>
  <div class="flex">
    <div>
      <a href="https://www.linkedin.com/in/fabian-fetter-31aa81231/" target="_blank">LinkedIn</a>
    </div>
    <div>
      <a href="https://github.com/bayont" target="_blank">GitHub</a>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Dismiss</button>
</mat-dialog-actions>
