@use '@angular/material' as mat;
@include mat.core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: mat.get-color-from-palette(mat.$gray-palette, 100);
  color: mat.get-color-from-palette(mat.$gray-palette, 800);
}
